﻿<nav class="navbar bg-orange navbar-shadow">
    <div class="navbar-brand">
        @if (User.Identity.IsAuthenticated)
        {
            <a class="navbar-text navbar-header-text" asp-controller="Order" asp-action="Index">Easy Meal</a>
        }
        else
        {
            <a class="navbar-text navbar-header-text" asp-controller="Home" asp-action="Index">Easy Meal</a>
        }
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="Order" asp-action="Index">Menu's</a>
            </li>
        </ul>
    }
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="dropdown navbar-text">
                <i class="fas fa-user"></i>
                <a class="navbar-text dropdown-toggle" data-toggle="dropdown">
                    @ViewBag.Email
                </a>
                <div class="dropdown-menu dropdown-menu-right box-shadow">
                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Uitloggen</a>
                    <a class="dropdown-item" asp-controller="Account" asp-action="EditProfile"><i class="fas fa-user-edit"></i> Aanpassen</a>
                </div>
            </div>
        }
        else
        {
            <a class="navbar-text" asp-controller="Account" asp-action="Login">Inloggen</a>
            <p class="navbar-text"> | </p>
            <a class="navbar-text" asp-controller="Account" asp-action="SignUp">Aanmelden</a>
        }
    </div>
</nav>