﻿@using DomainModel;
@model IList<DomainModel.MealMonthInvoice>;

<div class="card card-margin-top box-shadow">
    <h2 class="card-header">Bestelling plaatsen</h2>
    <div class="card-padding">
        <button class="btn btn-lg btn-primary margin-bottom btn-block" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
            Beschikbare weken
        </button>
        <div class="collapse" id="collapseExample2">

            @if (@Model.Count > 0)
            {
                @foreach (MealMonthInvoice mealMonthInvoice in @Model)
                {
                    <hr />
                    <div class="">
                        <form asp-controller="Order" asp-action="Invoice" methode="post" class="form" role="form">
                            <input hidden name="Year" value="@mealMonthInvoice.Year" />
                            <input hidden name="Month" value="@mealMonthInvoice.Month" />
                            <h6>
                                @mealMonthInvoice.WeekOrders.First().BeginDate.ToString("MMMM yyyy")
                            </h6>
                            <br />
                            <button class="btn btn btn-primary btn-block" type="submit">
                                Plaatsen
                            </button>
                        </form>
                    </div>
                }
            }
            else
            {
                <h6>Er is pas een factuur zichtbaar wanneer er iets besteld is</h6>
            }
        </div>
    </div>
</div>