﻿@using DomainModel
@model IList<DomainModel.Meal>

@if (@Model.Count() > 0)
{
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Gerecht</th>
                <th scope="col">Naam</th>
                <th scope="col">Prijs</th>
                <th scope="col">Dieet</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Meal meal in @Model)
            {
                <tr>
                    @if (@meal.MealType == MealType.Starter)
                    {
                        <td>Voorgerecht</td>
                    }
                    else if (@meal.MealType == MealType.MainDish)
                    {
                        <td>Hoofdgerecht</td>

                    }
                    else if (@meal.MealType == MealType.Dessert)
                    {
                        <td>Nagrecht</td>
                    }
                    else
                    {
                        <td>Onbekend</td>
                    }
                    <td>@meal.Name</td>
                    <td>€ @meal.Price.ToString("0.00")</td>
                    <td>
                        @foreach (DietaryRestriction diet in meal.Diets)
                        {
                            @if (diet.Name.Equals("Diabetes"))
                            {
                                <span class="badge badge-orange">Diabetes</span>
                            }
                            else if (diet.Name.Equals("WithoutSalt"))
                            {
                                <span class="badge badge-orange">Zonder zout</span>
                            }
                            else if (diet.Name.Equals("WithoutGuten"))
                            {
                                <span class="badge badge-orange">Zonder gluten</span>
                            }
                        }
                    </td>
                    <td class="text-center"><button value="@meal.Id|@meal.Name" class="btn add-meal-to-menu btn-orange btn-sm float-right">Toevoegen</button></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-center">Er zijn momenteel geen maaltijden. Maak eerst een maaltijd aan.</p>
}
