﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/*.css" />
    <link rel="stylesheet" asp-href-include="/css/**" />
    <script asp-src-include="/lib/jquery/jquery.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @await Component.InvokeAsync("NavigationMenu")
    </div>
    <div>
        @RenderBody()
    </div>
    <footer>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script asp-src-include="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </footer>
</body>
</html>
