﻿body {
    font-family: "Segoe UI"
}

h1 {
    font-family: "Rockwell";
}

.container-custom {
    width: 90%;
    margin: 0 auto;
}

.header-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    font-size: 3.5em;
    width: 100%;
    text-align: center;
}

.card-margin-top {
    margin-top: 2.5em;
}

.card-padding {
    padding: 1em;
}

.card-header {
    color: #fff;
    background-color: #ff9933;
}

.margin-bottom {
    margin-bottom: 1em;
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
}

.btn-orange {
    background-color: #ff9933;
    color: #fff;
}

    .btn-orange:hover {
        background-color: #E5892D;
        color: #fff;
    }

.text-margin-shopping-cart {
    margin-bottom: 0.8em;
}

.image-order-card {
    width: 100%;
    max-height: 7em;
    object-fit: cover;
}

.text-black {
    color: #000000;
}

    .text-black:hover {
        filter: brightness(150%);
        text-decoration: none;
        cursor: pointer
    }

.margin-top-big {
    margin-top: 10em;
}
