﻿.home-page-image {
    width: 100%;
    z-index: -1;
}

.header-text-homepage-position {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 35%;
    width: 100%;
    text-align: center;
}

.header-text-homepage {
    color: #fff;
    font-size: 4em;
}

.button-home-page {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 60%;
    width: 100%;
    text-align: center;
}

.btn-order-home-page {
    font-size: 1.5em;
    width: 11em;
    height: 4em;
    border-radius: 2em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 40px 0 rgba(0, 0, 0, 0.30);
}

.btn-order-and-sign-in {
    margin-right: 8%;
}

.btn-order-and-login {
    margin-left: 8%;
}
