﻿@using DomainModel;
@model IList<DomainModel.WeekMenu>;

<div class="card card-margin-top box-shadow">
    <h2 class="card-header">Bestelling plaatsen</h2>
    <div class="card-padding">
        <button class="btn btn-lg btn-primary margin-bottom btn-block" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Beschikbare weken
        </button>
        <div class="collapse" id="collapseExample">

            @if (@Model.Count > 0)
            {
                @foreach (WeekMenu weekMenu in @Model)
                {
                    <hr />
                    <div class="">
                        <form asp-controller="Order" asp-action="Add" methode="post" class="form" role="form">
                            <input hidden name="Id" value="@weekMenu.Id" />
                            <input hidden name="BeginDate" value="@weekMenu.BeginDate" />
                            <input hidden name="EndDate" value="@weekMenu.EndDate" />
                            <h6>
                                @weekMenu.BeginDate.ToString("d MMMM yyyy")
                                t/m @weekMenu.EndDate.ToString("d MMMM yyyy")
                            </h6>
                            <br />
                            <button class="btn btn btn-primary btn-block" type="submit">
                                Plaatsen
                            </button>
                        </form>
                    </div>
                }
            }
            else
            {
                <h6>Er kan niets meer besteld worden, binnenkort komen nieuwe weken beschikbaar</h6>
            }
        </div>
    </div>
</div>