﻿@using DomainModel;
@using System.IO;
@using static System.Net.Mime.MediaTypeNames;
@model IList<DomainModel.Meal>;

<div class="row">
    @foreach (Meal meal in @Model)
    {<div class="col-4">
         <div class="card card-margin-top">
             <h4 class="card-header text-center">@meal.Name</h4>

             @{
                 var exampleModal = "exampleModal" + @meal.Id;
             }
             @if (@meal.Image != null)
             {
                 <img src="data:image;base64,@Convert.ToBase64String(@meal?.Image)" class="image-order-card" alt="@meal.Name">
             }
             else
             {
                 <img src="https://image.shutterstock.com/image-photo/healthy-food-clean-eating-selection-260nw-722718097.jpg" class="image-order-card" alt="@meal.Name">
             }
             <div class="card-padding">
                 <h6>Beschrijving</h6>
                 <p>@meal.Description</p>
                 <h6>Dieet</h6>
                 @if (@meal.Diets.Count > 0)
                 {
                     <ul>
                         @foreach (DietaryRestriction diet in @meal.Diets)
                         {
                             <li>@diet.Name </li>
                         }
                     </ul>
                 }
                 else
                 {
                     <p>Geen</p>
                 }
                 <hr />
                 <h5 class="text-center">€ @meal.Price</h5>
                 <br />
                 <button class="btn btn-lg btn-orange btn-block" data-toggle="modal" data-target="#@exampleModal">
                     Voeg toe
                 </button>
             </div>
         </div>

            <div class="modal fade" id="@exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 class="text-center">Kies de hoeveelheid</h4>
                            <div class="btn-group btn-group btn-block card-margin-top" role="group">
                                <input hidden class="meal-id" value="@meal.Id" />
                                <input hidden class="meal-type" value="@meal.MealType" />
                                <input hidden class="meal-name" value="@meal.Name" />
                                <input hidden class="meal-price" value="@meal.Price" />
                                <button type="button" class="btn btn-orange add-meal-to-order-minus-20">- 20%</button>
                                <button type="button" class="btn btn-orange add-meal-to-order-normal">Normaal</button>
                                <button type="button" class="btn btn-orange add-meal-to-order-plus-20">+ 20%</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
