﻿<nav class="navbar bg-orange navbar-shadow">
    <div class="navbar-brand">
        <a class="navbar-text navbar-header-text" asp-controller="Account" asp-action="Login">Easy Meal</a>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="Menu" asp-action="Index">Menu's</a>
            </li>
        </ul>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <div class="dropdown navbar-text">
            <i class="fas fa-user"></i>
            <a class="navbar-text dropdown-toggle" data-toggle="dropdown">
                @ViewBag.Email
            </a>
            <div class="dropdown-menu dropdown-menu-right box-shadow">
                <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i>Uitloggen</a>
            </div>
        </div>
    }
</nav>