﻿@using DomainModel;
@using UserInterfaceWeb.Models.ViewModels;
@model DomainModel.WeekMenu;

@{ 
    var StarterMealCard = new MealCardViewModel();
    StarterMealCard.WeekMenu = @Model;
    StarterMealCard.MealType = MealType.Starter;

    var MainDishMealCard = new MealCardViewModel();
    MainDishMealCard.WeekMenu = @Model;
    MainDishMealCard.MealType = MealType.MainDish;

    var DessertMealCard = new MealCardViewModel();
    DessertMealCard.WeekMenu = @Model;
    DessertMealCard.MealType = MealType.Dessert;
}

<div class="header-text">
    <div class="btn-group btn-group-lg" role="group">
        <input hidden class="input-name" value="Maandag" />
        <button class="day-backward btn btn-orange disabled"><</button>
        <button class="btn btn-orange day-name">Maandag</button>
        <button class="day-forward btn btn-orange">></button>
    </div>
</div>
<div class="container-custom">
    <div class="row">
        <div class="col-9 card-margin-top">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Voorgerecht</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hoofdgerecht</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Nagerecht</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    @await Component.InvokeAsync("MealCard", @StarterMealCard)
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    @await Component.InvokeAsync("MealCard", @MainDishMealCard)
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    @await Component.InvokeAsync("MealCard", @DessertMealCard)
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card card-margin-top box-shadow">
                <h2 class="card-header text-center">Bestelling</h2>
                <div class="card-padding">
                    <form asp-action="AddWeekOrder" method="post" class="form" role="form">
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger" role="alert" asp-validation-summary="All"></div>
                        }
                        <input hidden name="Id" value="@Model.Id" />
                        <input hidden name="BeginDate" value="@Model.BeginDate" />
                        <input hidden name="EndDate" value="@Model.EndDate" />
                        <div class="shopping-cart-monday">
                            <h4 class="text-center text-margin-shopping-cart">Maandag</h4>
                            <div class="Starter-meal">
                            </div>
                            <div class="MainDish-meal">
                            </div>
                            <div class="Dessert-meal">
                            </div>
                            <hr />
                        </div>
                        <div class="shopping-cart-tuesday">
                            <h4 class="text-center text-margin-shopping-cart">Dinsdag</h4>
                            <div class="Starter-meal">
                            </div>
                            <div class="MainDish-meal">
                            </div>
                            <div class="Dessert-meal">
                            </div>
                            <hr />
                        </div>
                        <div class="shopping-cart-wednesday">
                            <h4 class="text-center text-margin-shopping-cart">Woensdag</h4>
                            <div class="Starter-meal">
                            </div>
                            <div class="MainDish-meal">
                            </div>
                            <div class="Dessert-meal">
                            </div>
                            <hr />
                        </div>
                        <div class="shopping-cart-thursday">
                            <h4 class="text-center text-margin-shopping-cart">Donderdag</h4>
                            <div class="Starter-meal">
                            </div>
                            <div class="MainDish-meal">
                            </div>
                            <div class="Dessert-meal">
                            </div>
                            <hr />
                        </div>
                        <div class="shopping-cart-friday">
                            <h4 class="text-center text-margin-shopping-cart">Vrijdag</h4>
                            <div class="Starter-meal">
                            </div>
                            <div class="MainDish-meal">
                            </div>
                            <div class="Dessert-meal">
                            </div>
                            <hr />
                        </div>
                        <div class="shopping-cart-saturday">
                            <h4 class="text-center text-margin-shopping-cart">Zaterdag</h4>
                            <div class="Starter-meal">
                            </div>
                            <div class="MainDish-meal">
                            </div>
                            <div class="Dessert-meal">
                            </div>
                            <hr />
                        </div>
                        <div class="shopping-cart-sunday">
                            <h4 class="text-center text-margin-shopping-cart">Zondag</h4>
                            <div class="Starter-meal">
                            </div>
                            <div class="MainDish-meal">
                            </div>
                            <div class="Dessert-meal">
                            </div>
                            <hr />
                        </div>

                        <h5 class="text-center">Totaal: € <span class="total-price" value="0">0</span></h5>
                        <br />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Bestel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script asp-src-include="/js/add-order.js"></script>