﻿<h1 class="header-text">Bestelling</h1>
<h5 class="text-center">29 oktober 2019 t/m 5 november 2019</h5>
<div class="container-custom">
    <div class="row">
        <div class="col-3">
            <div class="card card-margin-top margin-bottom box-shadow">
                <h2 class="card-header">Maandag</h2>
                <div class="card-padding">
                    <form action="#" method="post" class="form" role="form">
                        <p><b> Voorgerecht:</b> Soep</p>
                        <p><b>Hoofdgerecht:</b> Pizza</p>
                        <br />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Verwijder
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card card-margin-top margin-bottom box-shadow">
                <h2 class="card-header">Dinsdag</h2>
                <div class="card-padding">
                    <form action="#" method="post" class="form" role="form">
                        <p><b> Voorgerecht:</b> Soep</p>
                        <p><b>Hoofdgerecht:</b> Pizza</p>
                        <br />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Verwijder
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card card-margin-top margin-bottom box-shadow">
                <h2 class="card-header">Woensdag</h2>
                <div class="card-padding">
                    <form action="#" method="post" class="form" role="form">
                        <p><b> Voorgerecht:</b> Soep</p>
                        <p><b>Hoofdgerecht:</b> Pizza</p>
                        <br />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Verwijder
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card card-margin-top margin-bottom box-shadow">
                <h2 class="card-header">Zaterdag</h2>
                <div class="card-padding">
                    <form action="#" method="post" class="form" role="form">
                        <p><b> Voorgerecht:</b> Soep</p>
                        <p><b>Hoofdgerecht:</b> Pizza</p>
                        <br />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Verwijder
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card card-margin-top margin-bottom box-shadow">
                <h2 class="card-header">Zondag</h2>
                <div class="card-padding">
                    <form action="#" method="post" class="form" role="form">
                        <p><b> Voorgerecht:</b> Soep</p>
                        <p><b>Hoofdgerecht:</b> Pizza</p>
                        <br />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Verwijder
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>