﻿@using DomainModel;
@model IList<DomainModel.WeekOrder>;

<div class="container-custom">
    <h1 class="header-text">Bestellingen</h1>
    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("WeekMenuButton")
            @await Component.InvokeAsync("InvoiceButton")
        </div>
        <div class="col-md-9">
            @if (@Model.Count > 0)
            {
                <table class="table table-striped card-margin-top box-shadow">
                    <thead>
                        <tr class="bg-orange text-white">
                            <th scope="col"><h3>Dagen besteld</h3></th>
                            <th scope="col"><h3>Kosten</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (WeekOrder weekOrder in @Model)
                        {
                            <tr>
                                <td>
                                    @weekOrder.DayOrders.Count
                                </td>
                                <td>@string.Format("{0:C}", @weekOrder.TotalCosts())</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="text-center margin-top-big"><h4>Er zijn nog geen bestellingen geplaatst</h4></div>
            }
        </div>

    </div>
</div>