﻿@using DomainModel;
@model DomainModel.MealMonthInvoice;

<div class="container-custom">
    <h1 class="header-text">Factuur</h1>
    <div class="row">
        <div class="col-md-3 card-margin-top">
            <h5>Totaal bedag: @string.Format("{0:C}", @Model.TotalCosts)</h5>
            <hr />
            <h5>Datum: @Model.Month @Model.Year</h5>
            <hr />
            @if (@Model.HasPriceDiscount)
            {
                <h5>10% verrekend door het bestellen van 15 of meer maaltijden</h5>
                <hr />
            }

            @if (@Model.IsBirthDay)
            {
                <h5>De maaltijden die besteld zijn op uw verjaard zijn gratis</h5>
                <hr />
            }
            <button class="btn btn-lg btn-block btn-orange" value="Print Form" onclick="window.print()">Printen</button>
        </div>
        <div class="col-md-9">
            <table class="table table-striped card-margin-top box-shadow">
                <thead>
                    <tr class="bg-orange text-white">
                        <th scope="col"><h3>Dag</h3></th>
                        <th scope="col"><h3>Name</h3></th>
                        <th scope="col"><h3>Kosten</h3></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (WeekOrder weekOrder in @Model.WeekOrders)
                    {
                        @foreach (DayOrder dayOrder in weekOrder.DayOrders)
                        {
                            @foreach (MealOrder mealOrder in dayOrder.MealOrders)
                            {
                                <tr>
                                    <td>
                                        @dayOrder.Day
                                    </td>
                                    <td>
                                        @mealOrder.Name
                                    </td>
                                    <td>@string.Format("{0:C}", mealOrder.Price)</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>