﻿<img src="image/beef-burger-with-deep-fried-bacon-and-thousand-island-dressing.jpg" class="home-page-image" alt="Beef burger">
<div class="header-text-homepage-position">
    <h1 class="header-text-homepage">Uw keuzevrijheid staat bij ons voorop</h1>
</div>
<div class="button-home-page">
    <a class="btn-order-home-page btn-order-and-sign-in btn btn-primary btn-lg"
            asp-controller="Account" asp-action="SignUp">
        Maak een account aan en bestel!
    </a>
    <a class="btn-order-home-page btn-order-and-login btn btn-lg btn-primary" 
       asp-controller="Account" asp-action="Login">Login en</br>
        bestel!</a>
</div>