﻿@using DomainModel
@model DomainModel.WeekMenu

    <div class="container-custom">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-margin-top box-shadow">
                    <h2 class="card-header">Menu aanmaken</h2>
                    <div class="card-padding">
                        @await Component.InvokeAsync("MealList")
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-margin-top box-shadow">
                    <h2 class="card-header">Menu</h2>
                    <div class="card-padding">
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger" role="alert" asp-validation-summary="All"></div>
                        }
                        <form asp-action="Add" method="post" class="form" role="form">
                            <div class="row margin-bottom">
                                <div class="col-12">
                                    <label>Datum vanaf</label>
                                    <input class="form-control" name="BeginDate" type="date"
                                           required autofocus />
                                </div>
                                <div class="col-12">
                                    <label>Datum tot</label>
                                    <input class="form-control" name="EndDate" type="date"
                                           required />
                                </div>
                            </div>
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Naam</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="meal-in-menu">
                                </tbody>
                            </table>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">
                                Aanmaken
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script asp-src-include="/js/menu.js"></script>
