﻿@using DomainModel
@model IList<DomainModel.WeekMenu>

<div class="container-custom">
    <h1 class="header-text">Menus</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-margin-top box-shadow">
                <h2 class="card-header">Menu aanmaken</h2>
                <div class="card-padding">
                    <form action="#" method="post" class="form" role="form">
                        <a class="btn btn-lg btn-primary btn-block" asp-controller="Menu" asp-action="Add">
                            Plaatsen
                        </a>
                    </form>
                </div>
            </div>
            <div class="card card-margin-top box-shadow">
                <h2 class="card-header">Maaltijd aanmaken</h2>
                <div class="card-padding">
                    <form action="#" method="post" class="form" role="form">
                        <a class="btn btn-lg btn-primary btn-block" asp-controller="Meal" asp-action="Add">
                            Plaatsen
                        </a>
                    </form>
                </div>
            </div>
            <div class="card card-margin-top box-shadow">
                <h2 class="card-header">Chef aanmaken</h2>
                <div class="card-padding">
                    <form action="#" method="post" class="form" role="form">
                        <a class="btn btn-lg btn-primary btn-block" asp-controller="Account" asp-action="Add">
                            Aanmaken
                        </a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            @if (@Model.Count > 0)
            {
                <table class="table table-striped card-margin-top box-shadow">
                    <thead>
                        <tr class="bg-orange text-white">
                            <th scope="col">
                                <h3>Week</h3>
                            </th>
                            <th scope="col">
                                <h3>Aantal gerechten</h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var meal in Model)
                        {
                            <tr>
                                <td>@meal.BeginDate.ToString("d MMMM yyyy") t/m @meal.EndDate.ToString("d MMMM yyyy")</td>

                                <td>
                                    @foreach (Meal mealInWeekMenu in @meal.Meals)
                                    {
                                    <span class="badge badge-orange">@mealInWeekMenu.Name</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="text-center margin-top-big"><h4>Er zijn nog geen menu's geplaatst</h4></div>
            }
        </div>
    </div>
</div>
