﻿@using DomainModel
@model DomainModel.Meal

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="card card-margin-top box-shadow">
            <h2 class="card-header">Maaltijd aanmaken</h2>
            <div class="card-padding">
                <form asp-action="Add" enctype="multipart/form-data" method="post" class="form" role="form">
                    <div class="row margin-bottom">
                        <div class="col-8">
                            <input class="form-control" name="Name" placeholder="Naam" type="text"
                                   required autofocus />
                        </div>
                        <div class="col-4">
                            <input class="form-control" name="Price" placeholder="Prijs" type="number" min="0" step=".01"
                                   required />
                        </div>
                    </div>
                    <div class="margin-small-top">
                        <textarea class="form-control" placeholder="Beschrijving" name="Description" rows="3"></textarea>
                    </div>
                    <div class="custom-file margin-small-top custom-file">
                        <dl>
                            <dt>
                                <label class="custom-file-label" asp-for="Image"></label>
                            </dt>
                            <dd>
                                <input class="custom-file-input" asp-for="Image" type="file">
                                <span asp-validation-for="Image"></span>
                            </dd>
                        </dl>
                    </div>
                    <div class="margin-small-top">
                        <label for="">
                            Dieet
                        </label>
                        <div class="row">
                            <div class="col-4">
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                    <input type="hidden" name="Diets.Index" value="0" />
                                    <input type="checkbox" class="custom-control-input" value="WithoutSalt" name="Diets[0].Name" id="withoutSalt">
                                    <label class="custom-control-label" for="withoutSalt">Zoutloos</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                    <input type="hidden" name="Diets.Index" value="1" />
                                    <input type="checkbox" class="custom-control-input" value="Diabetes" name="Diets[1].Name" id="diabetes">
                                    <label class="custom-control-label" for="diabetes">Diabetes</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                    <input type="hidden" name="Diets.Index" value="2" />
                                    <input type="checkbox" class="custom-control-input" value="WithoutGuten" name="Diets[2].Name" id="withhoutGluten">
                                    <label class="custom-control-label" for="withhoutGluten">Glutenallergie</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="margin-small-top">
                        <label for="">
                            Type
                        </label>
                        <div class="row">
                            <div class="col-4">
                                <div class="custom-control custom-radio my-1 mr-sm-2">
                                    <input type="radio" class="custom-control-input" id="starter" value="Starter" name="MealType">
                                    <label class="custom-control-label" for="starter">Voorgerecht</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="custom-control custom-radio my-1 mr-sm-2">
                                    <input type="radio" class="custom-control-input" id="mainDish" value="MainDish" name="MealType">
                                    <label class="custom-control-label" for="mainDish">Hoofdgerecht</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="custom-control custom-radio my-1 mr-sm-2">
                                    <input type="radio" class="custom-control-input" id="dessert" value="Dessert" name="MealType">
                                    <label class="custom-control-label" for="dessert">Nagerecht</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Aanmaken
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>

