﻿@model UserInterfaceWeb.Models.ViewModels.AddAccountViewModel;

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="card card-margin-top">
            <h2 class="card-header">Chef aanmaken</h2>

            <div class="card-padding">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger" role="alert" asp-validation-summary="All"></div>
                }
                <form asp-action="Add" method="post" class="form" role="form">
                    <div class="row margin-bottom">
                        <div class="col-6">
                            <input class="form-control" name="FirstName" placeholder="Voornaam" type="text"
                                   required autofocus />
                        </div>
                        <div class="col-6">
                            <input class="form-control" name="SecondName" placeholder="Achternaam" type="text"
                                   required autofocus />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 margin-bottom">
                            <input class="form-control" name="Email" placeholder="Email" type="text"
                                   required autofocus />
                        </div>
                        <div class="col-12 margin-bottom">
                            <input class="form-control" name="PhoneNumber" placeholder="Telefoon nummer" type="number"
                                   required autofocus />
                        </div>
                        <div class="col-12">
                            <input class="form-control" name="Password" placeholder="Wachtwoord" type="password"
                                   required autofocus />
                        </div>
                    </div>
                    <br />
                    <br />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Aanmaken
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
